# sqlite database files
*.db
*.sqlite
# Testing files
**/all-contacts.vcf
# rust build targets
/target
# Docker slim reports
slim.report.json
# Tailwindcss output
static/styles.css
# Tailwind css executable
tailwindcss
# env files
.env
env
.env.*
env.*
.env.dev
env.dev
.env.prod
env.prod
